body{
    background-color: purple;
  }
  h1{
    text-align: center;
    color: rgb(46, 19, 46);
  }
  h2{
    text-align: center;
  }
  .animal-list {
    list-style: none;
  }
  
  .animal-list li {
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(48, 33, 6);
  }
  
  .animal-details {
    display: none;
    text-align: center;
  }
  
  .animal-details img {
    max-width: 200px;
  }